*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	color: #463f51;
	background: 	black;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.date {
	font-family: 'Maven Pro', Arial;
	font-weight: bold;
}
a {
	outline: none;
	color: gray;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover, a:focus {
	color: #fff;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


@-webkit-keyframes loaderAnim {
	to {
		opacity: 0.3;
		-webkit-transform: translate3d(0,-100px,0);
		transform: translate3d(0,-100px,0);
	}
}

@keyframes loaderAnim {
	to {
		opacity: 0.3;
		-webkit-transform: translate3d(0,-100px,0);
		transform: translate3d(0,-100px,0);
	}
}

.content {
	padding: 0 0 4em;
	height: 800px;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: relative;
}

.content:not(:first-child) {
	padding: 4em 0;
}
