
body {
	--color-text: #fff;
	--color-bg: #181a1e;
	--color-link: #fff;
	--color-blocklink: #515151;
	--color-blocktitle: #fff;
	--color-text: #767676;
	font-family: Futura, "futura-pt", Arial, sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color:#181a1e;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	overflow-x: hidden;
}


.sketch-video {
	width: 300px;
	height: 300px;
	margin: 20px;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
}

.frame__title {
	font-size: 1.5rem;
	margin: 1rem 0 0;
	font-weight: normal;
}

.content__text {
	font-size: 2rem;
	padding: 0 0 0 10vw;
	line-height: 2;
	color: var(--color-text);
}

.content__text-link {
	color: white;
	text-decoration: none;
}

.content__text-link:hover {
	text-decoration: underline;
	color: white;
}

.items-content {
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    position: relative;
}
.items-content:not(:first-child) {
    padding: 2em 0;
}

@media screen and (min-width: 53em) {
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		max-width: none;
		padding: 1.5rem 2rem;
		pointer-events: none;
	}
	.content {
		position: fixed;
		margin: 0 auto;
		padding-top: 20vh;
		max-width: 750px;
		text-align: left;
	}
	.content__text {
		grid-column: span 3;
	}
}
